:root {
    --font_color: rgb(246, 244, 242);
    --border_cor: rgba(0,0,0,.65);

    /* colors */
    --red: rgb(255, 75, 75);
    --orange: #FF8F42;
    --darkyellow: #FFC730;
    --yellow: #F6FF56;
    --green: #A4FF4F;
    --darkgreen: #18FF74;
    --darkgreen2: #00D672;
    --blue: #3CFFEC;
    --skyblue: #61C3FF;
    --darkblue: #5A87FF;
    --purple: #8453E3;
    --lightpurple: #C26EFF;
    --lightpurple2: #FB89FB;
}

body {
    background-color: #252423;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

::-webkit-scrollbar{
    display:none;
}

.red {
    color: var(--red)!important;
}
.orange {
    color: var(--orange)!important;
}
.darkyellow {
    color: var(--darkyellow)!important;
}
.yellow {
    color: var(--yellow)!important;
}
.green {
    color: var(--green)!important;
}
.darkgreen {
    color: var(--darkgreen)!important;
}
.darkgreen2 {
    color: var(--darkgreen2)!important;
}
.blue {
    color: var(--blue)!important;
}
.skyblue {
    color: var(--skyblue)!important;
}
.darkblue {
    color: var(--darkblue)!important;
}
.purple {
    color: var(--purple)!important;
}
.lightpurple {
    color: var(--lightpurple)!important;
}
.lightpurple2 {
    color: var(--lightpurple2)!important;
}

.box.red {
    background-color: var(--red);
}
.box.orange {
    background-color: var(--orange);
}
.box.darkyellow {
    background-color: var(--darkyellow);
}
.box.yellow {
    background-color: var(--yellow);
}
.box.green {
    background-color: var(--green);
}
.box.darkgreen {
    background-color: var(--darkgreen);
}
.box.darkgreen2 {
    background-color: var(--darkgreen2);
}
.box.blue {
    background-color: var(--blue);
}
.box.skyblue {
    background-color: var(--skyblue);
}
.box.darkblue {
    background-color: var(--darkblue);
}
.box.purple {
    background-color: var(--purple);
}
.box.lightpurple {
    background-color: var(--lightpurple);
}
.box.lightpurple2 {
    background-color: var(--lightpurple2);
}

.main .header,
.main article {
    display: flex;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
    background-color: #252423;
}

article {
    border-bottom: 1px solid var(--border_cor);
    height: calc(100vh - 61px);
}

.header-ph {
    height: 61px;
    width: 100vw;
}

.logo,
.category,
.demo-title {
    padding: 20px;
    border-bottom: 1px solid var(--border_cor);
    /* color: var(--font_color); */
}

.logo {
    color: var(--font_color);
}

.nav,
.demo-collection,
.code-example {
    max-height: 100vh;
    overflow-y: scroll;
}

.nav,
.header .logo {
    width: 20%;
    box-sizing: border-box;
}

.nav {
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}

.nav .sub-link {
    padding-left: 20px;
}

.nav a {
    color: rgba(255, 255, 255, .4);
    text-decoration: none;
    white-space: nowrap;
}
.nav a:hover {
    color: #fff;
}

.demo-collection,
.header .category {
    width: 37.5%;
    border-left: 1px solid var(--border_cor);
    border-right: 1px solid var(--border_cor);
    box-sizing: border-box;
}

.code-example,
.header .demo-title {
    width: 42.5%;
    box-sizing: border-box;
}

.demo-collection .demo:not(:last-child) {
    border-bottom: 1px solid var(--border_cor);
}

.main .code-example pre code {
    background-color: rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 2px;
}

.code-example .content {
    padding: 20px;
}

.code-example h3 {
    margin-top: 0;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}

.demo {
    min-height: 200px;
}

.demo > h2 {
    color: var(--font_color);
    padding: 20px;
}

.animations {
    width: 300px;
    min-height: 140px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    color: var(--font_color);
}
.line {
    position: relative;
    width: 300px;
    height: 28px;
}
.line.small {
    height: 2px;
}
.line:not(:last-child) {
    margin-bottom: 5px;
}
.box {
    background-color: rgb(255, 75, 75);
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
}
.box.small {
    height: 2px;
    margin: 1px 0;
}
.shadow {
    opacity: .2;
}